*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header
{
  text-align: center;
  padding: 10px;
  background-color: #ff4;
  color: #fff;
  text-shadow: 5px 2px 5px #000;
  font-size: 1.2rem;
  font-weight: bold;
}
main
{
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
p
{
  text-align: center;
  padding: 10px;
  font-size: 2rem;
}
button
{
  display: flex;
  justify-content: center;
  align-items: center;
}